message_generation/schemes/xdomea_3.0.0/xdomea-Nachrichten-AussonderungDurchfuehren.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xdomea="urn:xoev-de:xdomea:schema:3.0.0"
           targetNamespace="urn:xoev-de:xdomea:schema:3.0.0"
           version="3.0.0"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
   <xs:annotation>
      <xs:appinfo>
         <standard>
            <nameLang>xdomea - XÖV-Standard für den IT-gestützten Austausch und die IT-gestützte Aussonderung behördlichen Schriftgutes</nameLang>
            <nameKurz>xdomea</nameKurz>
            <nameTechnisch>xdomea</nameTechnisch>
            <kennung>urn:xoev-de:xdomea:kosit:standard:xdomea</kennung>
            <beschreibung>xdomea ist der vom IT-Planungsrat verabschiedete verbindliche Standard für den Austausch von Akten, Vorgängen und Dokumenten im Kontext der Übermittlung, der Abgabe sowie der Aussonderung von Schriftgutobjekten (www.it-planungsrat.de, Beschluss 2017/39). Weiterhin kann xdomea für den Austausch zwischen Fachverfahren und DMS/VBS sowie für die Zwischenarchivierung genutzt werden. 

Um diese Anwendungsszenarien bestmöglich zu unterstützen, ist xdomea gemäß des XÖV-Rahmenwerkes nach dem Baukastenprinzip aufgebaut und bietet einzelne Nachrichten(gruppen) für die jeweiligen Prozesse an. 

Der Standard xdomea wird von der gleichnamigen Arbeitsgruppe des IT-Planungsrates weiterentwickelt und gepflegt. Der Betrieb des Standards erfolgt durch die Koordinierungsstelle für IT-Standards (KoSIT).
</beschreibung>
         </standard>
         <versionStandard>
            <version>3.0.0</version>
            <beschreibung>Die Version 3.0.0 ist durch den IT-Planungsrat beschlossen. Details zum Beschluss sowie zu den Fristen der Umsetzung sind der Veröffentlichung im Bundesanzeiger unter www.bundesanzeiger.de zu entnehmen.</beschreibung>
            <versionXOEVProfil>1.7.2</versionXOEVProfil>
            <versionXOEVHandbuch>2.3.1</versionXOEVHandbuch>
            <versionXGenerator>3.0.1</versionXGenerator>
            <versionModellierungswerkzeug>19.0</versionModellierungswerkzeug>
            <nameModellierungswerkzeug>MagicDraw</nameModellierungswerkzeug>
         </versionStandard>
         <title>Aussonderung durchführen</title>
      </xs:appinfo>
   </xs:annotation>
   <xs:include schemaLocation="xdomea-Baukasten.xsd"/>
   <xs:include schemaLocation="xdomea-Typen-AussonderungDurchfuehren.xsd"/>
   <xs:element name="Aussonderung.Anbieteverzeichnis.0501">
      <xs:annotation>
         <xs:documentation>Die Nachricht beschreibt den Export von Metadaten zu Schriftgutobjekten, die dem zuständigen Archiv angeboten werden sollen.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="Kopf"
                        type="xdomea:NkNichtFVDatenEinEmpfaengerMitEmpfangsbestaetigungType">
               <xs:annotation>
                  <xs:documentation>Der Kopf der Nachricht enthält allgemeine Informationen für den Empfänger der Anbieteverzeichnis-Nachricht.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="Anschreiben"
                        minOccurs="0"
                        maxOccurs="unbounded"
                        type="xdomea:DokumentType">
               <xs:annotation>
                  <xs:documentation>Ein Dokument, in dem allgemeine Informationen zu den anzubietenden Schriftgutobjekten an das Archiv mitgegeben werden. Hier können auch Formblätter (z.B. Vorblatt zur Abgabe) mitgegeben werden.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="Schriftgutobjekt" maxOccurs="unbounded">
               <xs:annotation>
                  <xs:appinfo>
                     <implementationHint>Es werden im Rahmen des Versendens eines Anbieteverzeichnisses keine Primärdokumente übergeben. Die MetadatenAussonderung müssen zwingend übergeben werden.</implementationHint>
                  </xs:appinfo>
                  <xs:documentation>Ein Schriftgutobjekt (Akte, Vorgang oder Dokument) zu einem Anbieteverzeichnis.</xs:documentation>
               </xs:annotation>
               <xs:complexType>
                  <xs:choice>
                     <xs:element name="Akte" type="xdomea:AkteType">
                        <xs:annotation>
                           <xs:documentation>Eine Akte.</xs:documentation>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="Vorgang" type="xdomea:VorgangType">
                        <xs:annotation>
                           <xs:documentation>Ein Vorgang.</xs:documentation>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="Dokument" type="xdomea:DokumentType">
                        <xs:annotation>
                           <xs:documentation>Ein Dokument.</xs:documentation>
                        </xs:annotation>
                     </xs:element>
                  </xs:choice>
               </xs:complexType>
            </xs:element>
            <xs:element name="Aktenplan" minOccurs="0" type="xdomea:AktenplanType">
               <xs:annotation>
                  <xs:documentation>Der Aktenplan bildet ein aufgabenbezogenes mehrstufiges Ordnungssystem mit hierarchischer Gliederung für das Bilden und Kennzeichnen von Akten und Vorgängen sowie das Zuordnen von Dokumenten. Zur näheren Einordnung des Anbieteverzeichnisses kann der Aktenplan als Anlage mitgeliefert werden.</xs:documentation>
               </xs:annotation>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="Aussonderung.Bewertungsverzeichnis.0502">
      <xs:annotation>
         <xs:documentation>Die Nachricht beschreibt den Export von Metadaten zu Schriftgutobjekten, die vom zuständigen Archiv zu einer Bewertung ausgewählt wurden.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="Kopf"
                        type="xdomea:NkNichtFVDatenEinEmpfaengerMitEmpfangsbestaetigungType">
               <xs:annotation>
                  <xs:documentation>Der Kopf der Nachricht enthält allgemeine Informationen für den Empfänger der Bewertungsverzeichnis-Nachricht.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="BewertetesObjekt"
                        maxOccurs="unbounded"
                        type="xdomea:RueckgabeparameterAnbietungType">
               <xs:annotation>
                  <xs:documentation>Die Information zu einem Schriftgutobjekt über die durch das Archiv erfolgte Bewertung im Anbieteverzeichnis.</xs:documentation>
               </xs:annotation>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="Aussonderung.Aussonderung.0503">
      <xs:annotation>
         <xs:documentation>Die Nachricht beschreibt den Export von Schriftgutobjekten mit dem Ziel der Übergabe an das zuständige Archiv.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="Kopf" type="xdomea:NkAussonderungType">
               <xs:annotation>
                  <xs:documentation>Der Kopf der Nachricht enthält allgemeine Informationen für den Empfänger der Aussonderungs-Nachricht.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="Anschreiben"
                        minOccurs="0"
                        maxOccurs="unbounded"
                        type="xdomea:DokumentType">
               <xs:annotation>
                  <xs:documentation>Ein Dokument, in dem allgemeine Informationen zu den auszusondernden Schriftgutobjekten an das Archiv mitgegeben werden können. Hier können auch Formblätter (z.B. "Vorblatt zur Abgabe" gemäß Registraturrichtlinie) mitgegeben werden.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="Schriftgutobjekt" maxOccurs="unbounded">
               <xs:annotation>
                  <xs:appinfo>
                     <implementationHint>Die Primärdokumente und MetadatenAussonderung müssen zwingend im Zuge einer Aussonderung übergeben werden.</implementationHint>
                  </xs:appinfo>
                  <xs:documentation>Ein Schriftgutobjekt (Akte, Vorgang oder Dokument) zu einer Aussonderung.</xs:documentation>
               </xs:annotation>
               <xs:complexType>
                  <xs:choice>
                     <xs:element name="Akte" type="xdomea:AkteType">
                        <xs:annotation>
                           <xs:documentation>Eine Akte.</xs:documentation>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="Vorgang" type="xdomea:VorgangType">
                        <xs:annotation>
                           <xs:documentation>Ein Vorgang.</xs:documentation>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="Dokument" type="xdomea:DokumentType">
                        <xs:annotation>
                           <xs:documentation>Ein Dokument.</xs:documentation>
                        </xs:annotation>
                     </xs:element>
                  </xs:choice>
               </xs:complexType>
            </xs:element>
            <xs:element name="Aktenplan" minOccurs="0" type="xdomea:AktenplanType">
               <xs:annotation>
                  <xs:documentation>Der Aktenplan zu einer Aussonderung enthält ein aufgabenbezogenes mehrstufiges Ordnungssystem mit hierarchischer Gliederung für das Bilden und Kennzeichnen von Akten und Vorgängen sowie das Zuordnen von Dokumenten.</xs:documentation>
               </xs:annotation>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="Aussonderung.AnbietungEmpfangBestaetigen.0504">
      <xs:annotation>
         <xs:documentation>Die Nachricht beschreibt den erfolgreichen Empfang des Anbietverzeichnisses.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="Kopf" type="xdomea:NkBasisType">
               <xs:annotation>
                  <xs:documentation>Der Kopf der Nachricht enthält allgemeine Informationen für den Empfänger der Empfangsbestätigung.</xs:documentation>
               </xs:annotation>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="Aussonderung.BewertungEmpfangBestaetigen.0505">
      <xs:annotation>
         <xs:documentation>Die Nachricht beschreibt den erfolgreichen Empfang des Bewertungsverzeichnisses.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="Kopf" type="xdomea:NkBasisType">
               <xs:annotation>
                  <xs:documentation>Der Kopf der Nachricht enthält allgemeine Informationen für den Empfänger der Empfangsbestätigung.</xs:documentation>
               </xs:annotation>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="Aussonderung.AussonderungImportBestaetigen.0506">
      <xs:annotation>
         <xs:documentation>Die Nachricht beschreibt die erfolgreiche oder nicht erfolgreiche Übernahme der Aussonderung.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="Kopf" type="xdomea:NkBasisType">
               <xs:annotation>
                  <xs:documentation>Der Kopf der Nachricht enthält allgemeine Informationen für den Empfänger der Importnachricht zu einer Aussonderung.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="AusgesondertesSGO"
                        maxOccurs="unbounded"
                        type="xdomea:ErfolgOderMisserfolgAussonderungType">
               <xs:annotation>
                  <xs:documentation>Die Information zum erfolgreichen oder nicht erfolgreichen Import eines Schriftgutobjekts zur Aussonderung.</xs:documentation>
               </xs:annotation>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="Aussonderung.AussonderungEmpfangBestaetigen.0507">
      <xs:annotation>
         <xs:documentation>Die Nachricht beschreibt den erfolgreichen Empfang der Aussonderung.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="Kopf" type="xdomea:NkBasisType">
               <xs:annotation>
                  <xs:documentation>Der Kopf der Nachricht enthält allgemeine Informationen für den Empfänger der Empfangsbestätigung.</xs:documentation>
               </xs:annotation>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="Aussonderung.AktenplanZurBewertung.0511">
      <xs:annotation>
         <xs:documentation>Die Nachricht beschreibt den Export eines Aktenplans zur Bewertung an ein Archiv nach Anfrage durch das Archiv.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="Kopf"
                        type="xdomea:NkNichtFVDatenWeitereEmpfaengerMitEmpfangsbestaetigungType">
               <xs:annotation>
                  <xs:documentation>Der Kopf der Nachricht enthält allgemeine Informationen für den Empfänger der Aktenplan-Nachricht.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="Aktenplan" type="xdomea:AktenplanBewertungskatalogType">
               <xs:annotation>
                  <xs:documentation>Der für die Bewertung zu übergebende Aktenplan enthält ein aufgabenbezogenes mehrstufiges Ordnungssystem mit hierarchischer Gliederung für das Bilden und Kennzeichnen von Akten und Vorgängen sowie das Zuordnen von Dokumenten.</xs:documentation>
               </xs:annotation>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="Aussonderung.AktenplanZurBewertungEmpfangBestaetigen.0512">
      <xs:annotation>
         <xs:documentation>Die Nachricht beschreibt den erfolgreichen Empfang des Aktenplans zur Bewertung.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="Kopf" type="xdomea:NkBasisType">
               <xs:annotation>
                  <xs:documentation>Der Kopf der Nachricht enthält allgemeine Informationen für den Empfänger der Empfangsbestätigung.</xs:documentation>
               </xs:annotation>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="Aussonderung.Bewertungskatalog.0513">
      <xs:annotation>
         <xs:documentation>Die Nachricht beschreibt den Export eines archivisch bewerteten Aktenplans.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="Kopf"
                        type="xdomea:NkNichtFVDatenWeitereEmpfaengerMitEmpfangsbestaetigungType">
               <xs:annotation>
                  <xs:documentation>Der Kopf der Nachricht enthält allgemeine Informationen für den Empfänger der Bewertungskatalog-Nachricht.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="BewerteteAktenplaneinheit"
                        maxOccurs="unbounded"
                        type="xdomea:AktenplaneinheitAktenplanBewertungskatalogType">
               <xs:annotation>
                  <xs:appinfo>
                     <implementationHint>Voraussetzung für die Implementierung ist, dass das DMS / VBS die UUID, die es jeder Aktenplaneinheit in den Nachrichten zugeordnet hat, auch im System hinterlegt hat.</implementationHint>
                  </xs:appinfo>
                  <xs:documentation>Die bewertete Einheit eines Aktenplans. Eine Aktenplanheit entspricht z.B. einer Hauptgruppe, Obergruppe, Gruppe, Untergruppe oder Betreffseinheit.</xs:documentation>
               </xs:annotation>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="Aussonderung.BewertungskatalogImportBestaetigen.0514">
      <xs:annotation>
         <xs:documentation>Die Nachricht beschreibt die erfolgreiche oder nicht erfolgreiche Übernahme des Bewertungskataloges.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="Kopf" type="xdomea:NkBasisType">
               <xs:annotation>
                  <xs:documentation>Der Kopf der Nachricht enthält allgemeine Informationen für den Empfänger der Importnachricht zu einem Bewertungskatalog.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="BewerteteAktenplaneinheit"
                        maxOccurs="unbounded"
                        type="xdomea:ErfolgOderMisserfolgBewertungskatalogType">
               <xs:annotation>
                  <xs:documentation>Die Information über den erfolgreichen oder nicht erfolgreichen Import des Wertes in "Aussonderungsart" oder "AussonderungsartKonfigurierbar" zu der jeweiligen Aktenplaneinheit.</xs:documentation>
               </xs:annotation>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="Aussonderung.BewerteterAktenplanEmpfangBestaetigen.0515">
      <xs:annotation>
         <xs:documentation>Die Nachricht beschreibt den erfolgreichen Empfang des bewerteten Aktenplans.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="Kopf" type="xdomea:NkBasisType">
               <xs:annotation>
                  <xs:documentation>Der Kopf der Nachricht enthält allgemeine Informationen für den Empfänger der Empfangsbestätigung.</xs:documentation>
               </xs:annotation>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
